.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  align-content: center;
  height: 40px;
  width: auto;
}

.menu-item {
  font-size: 14px;
  justify-self: end;
  padding: 0 10px;
  color: var(--primary);
}

.menu-item:not(:last-child) {
  border-right: 1px solid var(--tertiary);
}

.menu a {
  color: var(--primary);
  text-decoration: none;
}
